/* *{

} */

body{
    font-family: 'Mulish', sans-serif;
    margin: 0px;
}

a{
    text-decoration: none;
}

button{
    border: none;
    background-color: #219988;
    border-radius: 4px;
    color: white;
    text-align: center;
    padding: 3% 6%;
    font-size: 1.2rem;
}

.nav{
    height: 2.0rem;
    background: white;
    border-bottom: 1px solid #eee;
    position: relative;
    padding: 1.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.start{
    margin-bottom:10%;
}

.login{
    position: absolute;
    right: 50px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 7px 20px;
    color: black;
}

.first{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}

.intro{
    position: relative;
    width: 50%;
    padding: 0 6%;
}

.first-list{
    display: list-item;
    font-size: 1.3rem;
    list-style-type: none;
    padding-left: 0;
}

.first-list-item{
    margin: 32px 0;
}


.first-heading{
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 150%;
    margin-bottom: 7%;
}

.image1{
   margin-top: 50%;
   align-items: center;
}

.second{
    background-color: #e4f9f5;
    padding: 70px;
}

.cards{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 70px;
}

.card{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    padding: 30px;
    /* width: 50%; */
}

.statistics{
    box-sizing: border-box;
    width: 100%;
    padding: 1% 5%;
    background-color: #fff;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
    background-size: 18px 18px,18px 18px;
}

.stat{
    display: block;
    padding: 8%;
}

.number{
    text-align: center;
    font-size: 3.7rem;
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 0px;
}

.desc{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 8px;
}

.uploading{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: .5rem;
    background-color: #e4f9f5;
    padding: 6% 8%;
}

.box{
    height: 150px;
}

.upload-info{
    width: 80%;
    /* padding: 0 20%; */
    /* align-content: center; */
    text-align: left;
}

.upload{
    display: inline-block;
    width: 40%;
    text-align: center;
    font-size: 0.9rem;
    color: rgb(255, 255, 255);
    background-color: rgb(33, 153, 136);
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 4px;
}

.upload-button{
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

footer{
    list-style-type: none;
    background: linear-gradient(24deg,#40514e,#40514e 50%,#219988);
    color: white;
}

footer a{
    color: #fff;
}

.footer-section{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 3% 4% 1% 4%;
    grid-gap: .5rem;
    
}

.footer-list{
    list-style-type: none;
    align-items: center;
}

.footer-items{
    display: flex;
    flex-direction: column;
}

a.footer-list-item{
    padding: 6% 0;
}

.social-links{
    display: flex;
    flex-direction: row;
}

.page-info{
    text-align: center;
}

p.copyright{
    margin: 0px;
}


/* lecturenotes page */

.container2{
    background-color: #f2faef;
}

.tabs{
    margin-top: 80px;
}

.tab-items{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:0 10%;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
}

.tab{
    text-align: center;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.course-cards{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
    padding:0;
    margin: 50px;
    justify-content: center;
}

.course-card{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    border-radius: .25rem;
    background: #fff;
    text-align: center;
}

.card-heading{
    background-color: rgb(67, 37, 88); 
    color: rgb(255, 255, 255);
    font-size: 1rem;
    padding: .9rem 5px;
    border-bottom: 1px solid #eee;
    border-radius: 4px 4px 0 0;
    margin-top: 0;
    margin-bottom: 8px;
}
